@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

.nav-bar {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    /*width: 100%;*/
    margin: 10px 50px;
}

.nav-link {
    font-family: "Roboto Condensed";
    font-weight: bold;
    display: block;
    color: rgba(0, 0, 0);
    font-size: larger;
    font-style: normal;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}